#page-intro {
  padding-bottom: 25px; }
  #page-intro p {
    max-width: 90ch; }

#search-controls {
  flex: 1;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px; }
  #search-controls input#postal {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #888; }
    #search-controls input#postal::-webkit-outer-spin-button, #search-controls input#postal::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  #search-controls select#within {
    width: 100%; }
  #search-controls label {
    font-weight: normal; }
  #search-controls select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 0 option;
      border-radius-color: #000;
      border-radius-padding: 2px;
      border-radius-font-family: AvenirNextLTW01-Regular; }
  #search-controls a.btn {
    margin-top: 25px; }

#results-area .contractor-group-intro {
  margin-bottom: 15px; }
#results-area .contractor-listing {
  margin-top: 45px; }
  #results-area .contractor-listing h4, #results-area .contractor-listing p {
    margin: 0; }
  #results-area .contractor-listing #contractor-specialties ul {
    margin-top: 0;
    padding-left: 20px; }
    #results-area .contractor-listing #contractor-specialties ul li {
      margin: 0; }

#footnote {
  padding-bottom: 20px; }

#nearest-showroom .showroom-title {
  background-color: #eee;
  margin-bottom: 50px; }
  #nearest-showroom .showroom-title h4 {
    margin: 1em 0; }
#nearest-showroom svg {
  float: left; }
#nearest-showroom .showroom-info h4, #nearest-showroom .showroom-info p {
  margin-top: 0;
  margin-bottom: 0; }
#nearest-showroom .showroom-cta h4, #nearest-showroom .showroom-cta p {
  margin-top: 0;
  margin-bottom: 0; }

#contractor-program-promo p {
  max-width: 100%;
  font-weight: bold; }
#contractor-program-promo .contractor-program-button {
  color: #444;
  font-size: .9em;
  border: 2px solid #BBB; }

#requestFormContainer .row {
  margin-bottom: 15px; }
#requestFormContainer label {
  display: block;
  font-weight: normal; }
#requestFormContainer p {
  margin-top: 0; }
#requestFormContainer input, #requestFormContainer select {
  width: 100%;
  padding: 8px 10px;
  line-height: 1.5em;
  border: 1px solid #BBB; }
#requestFormContainer input[type="submit"] {
  color: rgba(29, 29, 27, 0.75);
  background: #ffdc00;
  border: none;
  border-radius: 2px;
  padding: .6em 1.25em;
  margin: 15px 0;
  white-space: normal;
  font-family: Avenir_Medium;
  font-weight: bold;
  margin-top: 0;
  width: content; }
#requestFormContainer #privacy-message {
  margin-bottom: 30px; }

.grey-background {
  background-color: #EEE;
  padding: 15px; }

#contractorsContainer {
  margin-bottom: 15px; }
  #contractorsContainer .selected-contractor {
    margin-bottom: 45px; }
  #contractorsContainer p {
    margin: 0; }
  #contractorsContainer .contractor-name {
    font-weight: bold;
    margin-bottom: 0; }

#confirmation-container {
  display: none; }
  #confirmation-container .links-container {
    width: fit-content;
    margin: 0 auto; }
    #confirmation-container .links-container a.btn {
      color: #555;
      border: 1px solid #999;
      padding: 5px 30px; }

.cta {
  padding-top: 15px;
  padding-bottom: 15px; }

.cta a.btn {
  border-radius: 2px;
  padding: .6em 1.25em;
  margin: 15px 0;
  white-space: normal;
  font-family: Avenir_Medium;
  font-weight: bold;
  margin-top: 0; }

.active {
  color: rgba(29, 29, 27, 0.75) !important;
  background: #ffdc00;
  border: none;
  box-shadow: none !important; }
  .active:hover {
    background: #ffdc00 !important; }

.inactive {
  pointer-events: none;
  color: #999 !important;
  background: #EEE !important;
  border: 1px solid #DDD !important;
  cursor: default; }
  .inactive:active {
    box-shadow: none; }
  .inactive:hover {
    cursor: default !important; }

.no-padding {
  padding: 0; }

@media screen and (min-width: 768px) {
  #search-and-cta {
    display: flex; }

  #cta-top {
    padding-top: 70px; } }
@media screen and (min-width: 1200px) {
  #search-controls {
    display: flex; } }
@media screen and (max-width: 1200px) {
  #contractor-specialties {
    margin-top: 15px; } }
@media screen and (max-width: 768px) {
  #nearest-showroom .showroom-title {
    margin-bottom: 20px; }
  #nearest-showroom .pcc-pella-logo {
    margin-bottom: 20px; }
  #nearest-showroom .showroom-cta {
    margin-top: 20px; }

  #search-controls .col-xs-4,
  .cta .col-xs-12 {
    padding-left: 0; }

  .cta .text-center {
    text-align: left; }

  .contractor-group-intro {
    text-align: center; }

  .contractor-listing #contractor-description,
  .contractor-listing #contractor-specialties,
  .contractor-listing #contractor-checkbox {
    padding: 0; }
  .contractor-listing .visible-xs,
  .contractor-listing .visible-xs:hover {
    border-bottom: none;
    background: none; } }

/*# sourceMappingURL=custom.css.map */
